body {
   height: auto;
   background-color: azure;
}
div {
   display: block;
}
.csd-text{
   background-color: aliceblue;
   margin-top: -20px;
   text-align: center;
   height: 50px;
   transition: all 0.4s ease;
}
.csd-text-hidden{
   margin-top: -20px;
   text-align: center;
   height: 0px;
   transition: all 0.4s ease;
}
.csd-text-hidden h1{
   height: 0px;
   visibility: hidden;
}
.csd-text h1{
   font-family: fantasy;
   line-height: 50px;
   color: darkcyan;
   transition: all 0.4s ease;
}
.title-text{
   text-align: center;
}
.content{
   margin-top: 200px;
}
.row-content {
   margin-bottom: 50px;
}
.par-content {
   margin-bottom: 150px;
}
.footer {
   position: sticky;
   height:50px;
   background-color: dodgerblue;
   bottom:0px;
   left:0px;
   right:0px;
   margin-bottom:0px;
}
.footer-text {
   padding-top: 15px;
   padding-bottom: 15px;
}
.button {
  display: inline-block;
  margin: 10px;
  width: 27px;
  height: 27px;
  background:grey;
    text-align: center;
  cursor: pointer;
  border-radius: 50%;
    float: left;
    width: 28px;
    height: 28px;
    text-align: center;
    color: #fff;
    margin: 5px 3px;
    font-size: 12px;
    padding: 5px 0;
    border-radius: 16px;
    font-weight: bold;

  box-shadow: 0 3px 20px rgba(0,0,0,.25),
  inset 0 2px 0 rgba(255,255,255,.6),
  0 2px 0 rgba(0,0,0,.1),
  inset 0 0 20px rgba(0,0,0,.1);
    
}
